#!/bin/sh
set -e
fd --unrestricted --follow --exclude "Code - OSS"  --exclude "node_modules" \
    --exclude "*cache" --exclude "cargo" --exclude "go"  --exclude "mozilla*" \
    --exclude "thunderbird" --exclude "__pycache__"  --exclude "*.kdbx" \
    --exclude "*.kdb" --exclude "*.key" \
    "^(config|.*\.(conf|sh|py|toml|yaml|json|ini|lua|css))$" \
    "$HOME/.config" "$HOME/.local/bin" | \
    fzf --print0 -i --multi --exact --reverse --prompt="Edit config:" \
    --delimiter / --with-nth 4..-1 |
    xargs -0 --no-run-if-empty -I "{}" nvim-reuse {}

# while read -r line ; do
#     nvim-reuse "$line"
# done <<< "$selected"
